@import 'mixins/index';

.Back {
  position: fixed;
  top: 3em;
  left: 3em;
  opacity: .8;
  transition: opacity 300ms ease-in;

  .Blob {
    width: 5em;
    height: 5em;
  }

  &:hover {
    opacity: 1;
  }
}

.Back__text {
  mix-blend-mode: difference;
  position: absolute;
  top: calc(50% - 1em);
  left: 0;
  color: white;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}
