@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i');
.header {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__name {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #5f8fa6;
  padding: 0.5rem;
  /*-webkit-transition: background-color 0.2s, color 0.2s;*/
  /*transition: background-color 0.2s, color 0.2s;*/
}
/*.header__name:hover {
  color: #fff;
  background-color: #5f8fa6;
  opacity: 0.8;
}*/
.header__name--small {
  font-size: 1.2rem;
  font-weight: 300;
}

.subheader {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  display: flex;
  text-transform: lowercase;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  position: relative;
  justify-content: center;
}
.subheader__elem {
  margin: 1rem 0;
}
.subheader__elem--divider {
  position: absolute;
  font-size: 10rem;
  color: #607d8bab;
  font-weight: 100;
  font-style: italic;
}
