@import 'mixins/index';

.Home {
  width: 100%;
  height: calc(100vh - 2em);
  position: relative;

  .Blob {
    position: absolute;
    top: calc(50% - 12.5em);
    left: calc(50% - 12.5em);
  }
}

.Home__title {
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  position: absolute;
  font-size: 5em;
  font-style: italic;
  margin: 0;
  top: calc(50% - 1em);
  width: 100%;
  mix-blend-mode: difference;
  isolation: isolate;
}

.Home__link > a {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;

  background: linear-gradient(to right, $theme__text-light, $theme__text-light 50%, $theme__text 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;

  color: $theme__text;
  cursor: pointer;

  font-family: 'Hammersmith One', serif;
  font-size: 3em;
  line-height: 1em;
  text-decoration: 0;
  text-transform: uppercase;

  &:hover {
    color: $theme__text-light;
    background-position: 0 100%;
  }
}

.Home__link-list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0 0 1em;
  padding: 0;

  li {
    list-style: none;
    margin: 0 1em;
  }
}

.Home__pages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: calc(50% - 12em);
  width: 100%;

  a {
    font-size: 2em;
    margin-bottom: 1em;
    mix-blend-mode: difference;
    isolation: isolate;
  }
}

@media screen and (max-width: 550px) {
  .Home__link--left,
  .Home__link--right {
    margin-top: 1em;
    width: 100%;
    transform: none;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}
