@import 'mixins/index';

.Home {
  width: 100%;
  height: calc(100vh - 2em);
  position: relative;
}

.Home__circle {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  text-align: center;
  color: $theme__text;
  background: $theme__black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 12.5em);
  left: calc(50% - 12.5em);
}

.Home__description {
  font-family: 'Playfair Display', serif;
  font-size: 1.6em;
  line-height: 1.4em;
  font-style: italic;
}

.Home__link > * {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;

  background: transparent;
  color: $theme__text;
  cursor: pointer;

  font-family: 'Hammersmith One', serif;
  font-size: 3em;
  line-height: 1em;
  text-decoration: 0;
  text-transform: uppercase;

  &:hover {
    color: $theme__text-light;
  }
}

.Home__link-list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0 0 1em;
  padding: 0;

  li {
    list-style: none;
    margin: 0 .5em;
  }
}

.Home__link--left,
.Home__link--right {
  position: absolute;
  width: 20em;
  text-align: center;
  top: 50%;
}

.Home__link--left {
  transform: rotate(90deg);
  left: -7em;
}
.Home__link--right {
  transform: rotate(-90deg);
  right: -7em;
}

@media screen and (max-width: 550px) {
  .Home__link--left,
  .Home__link--right {
    margin-top: 1em;
    width: 100%;
    transform: none;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}
