@import 'mixins/index';

.Home {
  width: 100%;
  height: 100%;
  position: relative;
}

.Home__circle {
  width: 40em;
  height: 40em;
  border-radius: 50%;
  text-align: center;
  color: $theme__text;
  background: $theme__black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 20em);
  left: calc(50% - 20em);
}

.Home__description {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  font-style: italic;
  padding: 3em;
}

.Home__link {
  a, button {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;

    background: transparent;
    color: $theme__text;

    font-family: 'Hammersmith One', serif;
    font-size: 2em;
    line-height: 1em;
    text-decoration: 0;
    text-transform: uppercase;
  }
}
.Home__link-list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0 0 1em;
  padding: 0;

  li {
    list-style: none;
    margin: 0 .5em;
  }
}

.Home__link--left,
.Home__link--right {
  position: absolute;
  width: 10em;
  text-align: center;
  top: 50%;
}

.Home__link--left {
  transform: rotate(90deg);
  left: -2em;
}
.Home__link--right {
  transform: rotate(-90deg);
  right: -2em;
}
