@import 'mixins/index';

.Developer {
  width: 60%;
  margin: auto;
}

.Developer__experience {
  display: flex;
  flex-wrap: wrap;
  > .Tile {
    flex: 1 1 auto;
    margin: 1em 1em 0 0;
  }
}

.Developer__section {
  margin-bottom: 10em;
}

.Developer__section-row {
  display: flex;
}
