@import 'mixins/index';

.Developer {
  margin: auto;
  position: relative;
}

.Developer__experience {
  display: flex;
  flex-wrap: wrap;
  > .Tile {
    flex: 1 1 auto;
    margin: 1em 1em 0 0;
  }
}

.Developer__projects {
  .Paragraph {
    margin-bottom: 2em;
    // width: 70%;
  }
}

.Developer__link {
  font-size: 1.5em;
  font-family: 'Hammersmith One', serif;
  text-transform: uppercase;
  text-decoration: 0;
  color: #000;
  background: linear-gradient(to right, $theme__text-light, $theme__text-light 50%, $theme__text 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 300ms ease, color 300ms ease;
  cursor: pointer;
  padding: .25em .5em;
  margin-right: .5em;

  &:hover {
    color: $theme__text;
    background-position: 0 100%;
  }

}

.Developer__project {
  margin-bottom: 5em;
}

.Developer__section {
  margin-bottom: 10em;

  &.no-margin {
    margin: 0;
  }
}

.Developer__section-row {
  display: flex;
}

@media screen and (min-width: 320px) {
  .Developer {
    width: calc(100% - 10em);
  }
}

@media screen and (min-width: 800px) {
  .Developer {
    width: calc(100% - 20em);
  }
}

@media screen and (min-width: 1400px) {
  .Developer {
    width: calc(100% - 30em);
  }
}
