.CopyLink {
    font-size: inherit;
    position: relative;
}

.CopyLink span {
    position: absolute;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    background-color: var(--text-dark);
    color: var(--white);
    bottom: 100%;
    left: -25%;
    font-size: .7em;
    line-height: 1.5em;
    padding: 4px 10px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.CopyLink:hover span {
    opacity: 1;
}