.Header {
    height: 30vh;
    margin-bottom: 8vh;
    color: var(--white);
    text-transform: lowercase;
    text-align: center;
}

.Header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.Header img {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    z-index: -1;
}

.Header h1 {
    font-size: 3em;
}

.Header .container {
    position: relative;
}

.Header .header-container {
    position: relative;
}

.Header .subheader {
    margin: 0;
    position: absolute;
    width: 100%;
    text-transform: none;
    font-size: 1.5em;
    opacity: .6;
    top: -1.5em;
}

.Header h1 a:hover {
    color: var(--white);
    opacity: 0.9;
}

.Header a,
.Header button {
    line-height: 1em;
    margin: 1em 0;
    color: var(--white);
}

.Header a:hover,
.Header button:hover {
    color: var(--highlight);
}