.Mentor {
  width: 90%;
  margin: auto;
}

.Mentor__section {
  margin-bottom: 10em;

  &.no-margin {
    margin: 0;
  }
}

@media screen and (min-width: 320px) {
  .Mentor {
    width: calc(100% - 10em);
  }
}

@media screen and (min-width: 800px) {
  .Mentor {
    width: calc(100% - 20em);
  }
}

@media screen and (min-width: 1400px) {
  .Mentor {
    width: calc(100% - 30em);
  }
}
