@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital@0;1&family=Alata&family=Hammersmith+One&display=swap');
@import 'mixins/index';

.App {
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  background-color: $theme__background-light;
  border: 1em solid black;
}
