.App {}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-centered {
  text-align: center;
}

::-moz-selection {
  color: #000;
  background: #fff;
}

::selection {
  color: #fff;
  background: #000;
}