@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital@0;1&family=Alata&family=Hammersmith+One&display=swap');

.App {
  font-family: 'Alata', sans-serif;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-centered {
  text-align: center;
}

::-moz-selection {
  color: #000;
  background: #fff;
}

::selection {
  color: #fff;
  background: #000;
}