@import-normalize;

body {
	margin: 0;
	position: relative;
}

h1, h2, h3, h4, h5, p, a {
	z-index: 2000;
}

html {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 5 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
