@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap');

:root {
    --background: #eaeaea;
    --text: #2D2D34;
    --text-dark: #000;
    --text-primary: #3e5365;
    --text-contrast: #63032D;
    --highlight: #7a8ea0;
    --white: #ffffff;
}

body {
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    color: var(--text);
    background-color: var(--background);
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2em;
}

h1 {
    font-size: 3em;
    font-style: italic;
}

button {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 0.9em;
    color: var(--text);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}

.header {
    font-size: 4em;
    position: relative;
    width: 120%;
    left: -1em;
    margin: 0;
}

.faded-header {
    position: relative;
    left: -1em;
    color: var(--text-primary);
    margin: .5em 0 0;
}

.faded-subheader {
    position: relative;
    left: -1em;
    margin: 1em 0 0;
}

.header-section {
    margin-bottom: 4em;
}

p,
li {
    line-height: 1.5em;
}

ul.no-bullets {
    list-style-type: none;
}

b {
    color: var(--text-contrast);
}

a {
    font-family: 'Playfair Display', serif;
    position: relative;
    font-weight: 400;
    color: var(--text-dark);
    text-decoration: none;
    cursor: pointer;
    transition: color 200ms;
}

a:hover {
    color: var(--highlight);
}

a:hover::before {
    background-color: transparent;
}

a.light {
    color: var(--text);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.is-centered {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 120%;
    position: relative;
    left: -10%;
    height: 1px;
    background-color: var(--highlight);
    color: var(--highlight);
    margin-bottom: 3em;
}

.line::after {
    content: "♥";
    line-height: 16px;
    font-size: 16px;
    position: absolute;
    top: -6px;
    left: 50%;
}

::-moz-selection {
    color: var(--text);
    background: var(--highlight);
}

::selection {
    color: var(--highlight);
    background: var(--text);
}