.Cursor {
  box-sizing: border-box;
  width: 2.5em;
  height: 2.5em;
  border: 2px solid #fff;
  border-radius: 50%;
  position: fixed;
  will-change: top, left;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms, transform 100ms;
}

.Cursor__text-wrapper {
  position: relative;
}

.Cursor__text {
  position: absolute;
  text-align: center;
  left: calc(-50% - 1em);
  top: -1.5em;
  width: 100px;
  margin: 0;
  font-family: 'Hammersmith One', serif;
  text-transform: uppercase;
  transition: opacity 500ms, transform 500ms;
}
