@import 'mixins/index';

.Cursor {
  box-sizing: border-box;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: fixed;
  will-change: top, left, opacity, transform;
  z-index: 1000;
  pointer-events: none;
  background-color: $theme__text;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 500ms ease, transform 150ms ease;
}
