@import 'mixins/index';

.Slider {
  font-family: 'Hammersmith One', serif;
  text-transform: uppercase;
  text-align: center;
  margin: 4rem 0;
}

.Slider__main {
  font-size: 10rem;
  color: $theme__text-light;
  margin: 0;
  &::first-letter {
    color: $theme__text;
  }
}

.Slider__secondary {
  color: $theme__text;
  font-size: 2rem;
  margin: 0;
}
